<section
  aria-label="Featured Products"
>
  <h2 class="visually-hidden">Featured Products</h2>
  <div class="sub-section">
    <!-- <ng-container *ngFor="let product of featured()"> -->
      @for(product of featured(); track product.id) {
      <app-card
        [product]="product"
      ></app-card>
      } @empty {
        <div class="loading">
          <p>Products are loading ...</p>
          <mat-spinner color="primary"></mat-spinner>
        </div>
        
      }
    <!-- </ng-container> -->
  </div>
</section>
